<form #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
  <h1 mat-dialog-title>Nova Empresa</h1>
  <mat-dialog-content class="mat-typography">
    <div class="div-info">
      <mat-form-field class="example-full-width">
        <mat-label>Nome da empresa</mat-label>
        <input
          type="text"
          matInput
          placeholder=""
          ngModel
          id="company"
          name="company"
          required
        />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Nome Completo do Responsável</mat-label>
        <input
          type="text"
          matInput
          placeholder=""
          ngModel
          id="name"
          name="name"
          required
        />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Telefone</mat-label>
        <input
          type="text"
          matInput
          placeholder=""
          ngModel
          id="phone"
          name="phone"
          required
        />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>E-mail</mat-label>
        <input
          matInput
          placeholder=""
          ngModel
          id="mail"
          name="mail"
          type="email"
          required
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        />
      </mat-form-field>
    </div>
    <div class="div-info">
      <mat-form-field class="example-full-width">
        <mat-label>Produtos/Serviço de interesse do cliente</mat-label>
        <mat-select
          [(value)]="selected"
          [ngModel]="selected"
          id="produtoId"
          name="produtoId"
        >
          <mat-option *ngFor="let prod of products" value="{{ prod.id }}">{{
            prod.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Conteúdo da Conversa</mat-label>
        <textarea
          type="text"
          matInput
          placeholder=""
          ngModel
          id="notes"
          name="notes"
        ></textarea>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="primary" type="submit">Cadastrar</button>
    <button mat-button mat-dialog-close>Fechar</button>
  </mat-dialog-actions>
</form>
