h1 {
  padding: 10px 16px;
  background: #212121;
  color: white;
}

img {
  width: 120px;
  background: white;
  padding: 6px;
  border-radius: 10px;
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 90%),
    0px 8px 10px 1px rgb(0 0 0 / 34%), 0px 3px 14px 2px rgb(0 0 0 / 62%);
}

mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
